* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Carrois Gothic', helvetica, arial;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 80px;
}

p {
	padding-bottom: 80px;
}

a {
	text-decoration: none;
	color: #8b949b;
	padding-bottom: 2px;
	border-bottom: 1px solid #e9eff3;
	transition: 0.1s ease-in-out;
}

a:hover {
	color: #c8d2d9;
}

ul {
	position: absolute;
	right: 0;
}

li {
	display: inline-block;
	margin-left: 10px;
}

img {
	width: 800px;
	height: 500px;
}

.byline {
	color: #8b949b;
}

.contact {
	position: absolute;
	right: 0;
	top: 0;
}

.content {
	position: relative;
	width: 800px;
	margin: 120px auto 80px;
}

.project {
	padding-top: 6px;
	font-size: 14px;
	color: #8b949b;
}

@media only screen
		and (min-device-width : 768px)
		and (max-device-width : 1024px) {

			.content {
				margin: 120px 5% 80px 5%;
			}

			img {
				margin: 0 5% 0 0;
			}
}
