* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Carrois Gothic', helvetica, arial;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 30px;
}

a {
	text-decoration: none;
	color: #8b949b;
	padding-bottom: 2px;
	border-bottom: 1px solid #e9eff3;
}

img {
	width: 100%;
	margin-top: 40px;
}

ul {
	margin-top: 50px;
}

li {
	display: inline-block;
}

li:not(:first-child) {
	padding-left: 10px;
}

.byline {
	color: #8b949b;
}

.content {
	width: 320px;
	margin: 60px auto 40px;
}

.project {
	padding-top: 10px;
	font-size: 14px;
	color: #8b949b;
}
